@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&family=Roboto&display=swap');
* {
    scroll-behavior: smooth;
}
body {
    background-color: white;
    color: white;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    font-family: Montserrat, sans-serif;
}
p, li, figcaption {
    font-family: Roboto, sans-serif;
}
/*section settings*/
#title {
    background-image: url(./images/homepage-background.png);
    background-repeat: no-repeat center center fixed;
    background-blend-mode: multiply;
    background-size: cover;
    height: 900px;
}
#tribute-info {
    background-image: url(./images/info-background.png);
    background-repeat: no-repeat center center fixed;
    background-size: cover;
    height: fit-content;
}
.images {
    background-image: url(./images/artwork-background.png);
    background-repeat: no-repeat center center fixed;
    background-size: cover;
    height: fit-content;
}

/*section1*/
h1 {
    font-size: 45px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #FBDD06;
}
h1, h2 {
text-align: center;
padding-left: 15%;
}
.title {
    background-color: rgb(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    height: 400px;
    top: 500px;
    min-width: 100%;
}
/*section2*/
.p1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
}
.div-info {
    background-color: rgb(0, 0, 0, 0.5);
    position: relative;
    height: fit-content;
    width: fit-content;
    max-width: 600px;
    margin-left: 50%;
    padding: 20px;
}
.div-info p {
    font-size: 30px;
    color: #FBDD06;
    text-align: center;
}
.div-info ul {
    line-height: 40px;
    text-align: justify;
}

/*images settings*/
.section3-wrapper {
    background-color: rgb(0, 0, 0, 0.5);
    height: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
}
.section3-wrapper h3 {
    font-size: 30px;
    padding-left: 40px;
    margin: 0;
}
.section3-wrapper h4 {
    font-size: 20px;
    padding-left: 40px;
    color: #FBDD06;
    margin: 0;
}
#img-div {
    display: flex;
}
#image {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
figcaption {
    text-align: center;
}
.qoute-bg {
    background-color: rgb(251, 221, 6, 0.8);
    height: fit-content;
    overflow: hidden;
}
.qoutes-wrapper .q {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    color: #fff;
}
.qoutes-wrapper .q-a {
    margin: 0;
    padding: 10px;
    font-size: 17px;
    text-align: center;
    color: #fff;
}
/*footer*/
footer {
    background-color: black;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}
footer p {
    margin: 0;
    padding: 20px 0;
}
@media only screen and (max-width: 768px) {
    /*section2*/
.p1 {
    font-size: 25px;
}
.div-info {
    margin: 0 auto;
}
.div-info p {
    font-size: 25px;
}
    /*section3*/
    .qoutes-wrapper .q {
        font-size: 25px;
        font-weight: 500;
    }
    .qoutes-wrapper .q-a {
        font-size: 17px;
    }
}
@media only screen and (max-width: 800px) {
    .div-info {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 600px) {
    /*section1*/
    .tt {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .a {
        font-size: 30px;
    }
    .b {
        font-size: 20px;
    }
    .p1 {
        font-size: 16px;
    }
    /*section2*/
    .div-info {
        margin: 0 auto;
    }
    .p1 {
        font-size: 20px;
    }
    .div-info p {
        font-size: 20px;
    }
    /*section3*/
    .section3-wrapper h3 {
        font-size: 20px;
    }
    .section3-wrapper h4 {
        font-size: 17px;
    }
    #img-div {
        display: unset;
    }
}